
<div style="display:flex; justify-content:center">
    <MudImage Style="width:25%; margin:20px" Src="basarnas.png"></MudImage>
</div>

<MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Filled.Dashboard" Href="/instansi" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.AccessAlarm" Href="/instansi/kejadian" Match="NavLinkMatch.Prefix">Kejadian</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Info" Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>